/** General form style */
div.gmb-content label.gd-label{ display: block; width: 150px; float: left; }
div.gmb-content span.description{ color: #666; font-size: 0.9em; }
div.gmb-content label.chk-label{ color: #666; font-size: 0.9em; }
div.gmb-content span.ml-description{  font-size: 0.9em;}
div.gmb-content .single-field{ margin-bottom: 1.5em; }
div.gmb-content .multiselect{ float: left; width: 150px; height: 150px; }

/** Customizing jQuery UI overcast style */
button.ui-multiselect{ color: #555; font-size:1em; background: #fff; border: 1px solid #ddd; }
button.ui-multiselect:hover{ border: 1px solid #ccc; }
div.ui-corner-all { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; background: #fafafa; }
ul.ui-multiselect-checkboxes{ background-color: #fafafa; }
ul.ui-multiselect-checkboxes li label{ padding-left: 5px; }
ul.ui-multiselect-checkboxes li label span{ padding-left: 5px; }
ul.ui-multiselect-checkboxes li label.ui-state-hover{ background: #3B76EE; color: #FFF; border: 0 none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

/** Chosen **/
div.chzn-container{ width: 400px !important; }
div.chzn-container-multi .chzn-choices .search-field input{ padding: 0 5px; height: 20px; font-size: 10px; }