#tbl_items thead th{ font-weight: bold; }
#tbl_items tbody td{ padding-top: 3px; padding-bottom: 3px; }

.col1 .cart_checkout{ font-size: 18px; font-weight: bold; color: #FFF; background-color: #048739; display: block; padding: 7px 0 7px 15px; width: 100px; }
.col1 .cart_checkout{ border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

table, table td, table th{ border: 1px solid #CCC; }
table th{ font-weight: bold; }
table td, table th{ padding: 3px; }
table th{ background-color: #eee; padding: 5px; }