/*.col2{ padding-top: 30px; }

.col2{ width: 425px; }

.col1{ padding-right: 445px; }

*/

input{ width: 200px; padding: 2px 3px; }

input.button-primary{ width: 80px; }



.success_info{ display: block; padding: 10px; background-color: #F56108; color: #FFF; margin-bottom: 20px; font-weight: bold; font-size: 14px; }

.success_info .food_add_success{ color: yellow; }

#res-logo .mceToolbar, #res-logo tr.mceLast{ display: none; }

#res-logo a#__uqhuk-html, #res-logo a#__uqhuk-tmce{ display: none; }

#res-logo .wp-editor-container{ width: 930px; }

#res-logo #__uqhuk_tbl, #res-logo #__uqhuk_ifr{ height: 350px !important; }

input.regular-text{ padding: 2px 5px; width: 450px; }

select#__XQiSE{ width: 300px; height: 250px; }

select#__XQiSE option{ padding: 2px 0; }

input[type='submit'] {
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #048739;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	padding: 3px 10px;
	border: 0 none;
	cursor: pointer;
}