form p label{ display: block; width: 100px; float: left; }
form p input{ padding: 3px 5px; width: 400px; margin-bottom: 5px; }
#submit{ width: 100px; margin-left: 100px; margin-top: 10px; border-radius: 5px 5px 5px 5px; background: none repeat scroll 0 0 #F54900; color: #FFFFFF; display: block;border:0 none; font-size: 16px; margin-right: 135px; padding: 3px 10px; }
.col1 h2{ margin-bottom: 15px; font-size: 18px; text-transform: uppercase; }

#user-photo .mceToolbar, #user-photo tr.mceLast{ display: none; }
#user-photo a#user_photo-html, #user-photo a#user_photo-tmce{ display: none; }

#user-photo .wp-editor-container{ width: 175px; }
#user-photo #user_photo_tbl, #user-photo #user_photo_ifr{ height: 175px !important; }


#profile-sucess{ padding: 7px 10px; background-color: #f8ecc8; border: 1px solid #eeccaa; margin-bottom: 15px; font-size: 13px; text-transform: none; }


/** map1 **/
#map:hover{ cursor: pointer; }
#map-ref{ display: none; background-color: #FFF; padding-bottom: 20px; }
#map-ref img{ margin-bottom: 20px; }
#save_thumb{ margin-right: 15px; padding: 5px 10px; float: right; border-radius: 5px 5px 5px 5px; background: none repeat scroll 0 0 #F54900; color: #FFFFFF; display: block;border:0 none; font-size: 16px; margin-right: 135px; padding: 3px 10px; }
#save_thumb:hover{ cursor: pointer; }


/** map2 **/
#map2:hover{ cursor: pointer; }
#map-ref2{ display: none; background-color: #FFF; padding-bottom: 20px; }
#map-ref2 img{ margin-bottom: 20px; }
#save_thumb2{ margin-right: 15px; padding: 5px 10px; float: right; }
#save_thumb2:hover{ cursor: pointer; }


#map1, #map2{ display: block; background: #F54900; color: #FFF; font-size: 16px; padding: 3px 10px; width: 32px; float: right; margin-right: 135px; }
#map1, #map2{ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#map1:hover, #map2:hover{ text-decoration: none; border: 0 none; background: #fd7d02; }
