#header, #footer { 
	clear: both; 
	float: left; 
	width: 100%; 
}
.colmask { 
	clear: both; 
	float: left; 
	width: 100%; 
	position: relative; 
	overflow: hidden; 
	background-color: #FFF; 
}
.rightmenu { 
	background-color: #fafafa; 
}
.rightmenu .colleft { 
	float: left; 
	width: 200%; 
	margin-left: -200px; 
	position: relative; 
	right: 100%; 
	background-color: #FFF; 
}
.rightmenu .col1wrap { 
	float: left; 
	width: 50%; 
	position: relative; 
	left: 50%; 
	padding-bottom: 1em; 
}
.rightmenu .col1 { 
	margin: 0 15px 0 215px;
	overflow: hidden; 
}
.rightmenu .col2 { 
	float: right; 
	width: 170px; 
	position: relative; 
	left: 185px; 
}
