.restoo{ margin-bottom: 5px; text-transform: uppercase; position: relative; min-height: 210px; }
.restoo .restoo-header{ background-color: #f2eab8; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; margin-bottom: 10px; }
.restoo .restoo-title{ float: left; margin-right: 10px; }
.restoo .restoo-title{ font-weight: bold; font-size: 18px; }
.restoo .restoo-phone{ float: right; font-weight: bold; font-size: 18px; color: #048739; }
.restoo .restoo-phone span{ color: #333; }
.restoo .restoo-address{ font-weight: bold; color: #048739; font-size: 18px; }
.restoo-content{ line-height: 20px; font-weight: bold; padding-right: 180px; padding-left: 170px; position: relative; min-height: 150px; }
.restoo-content span.cuisine-type{ display: block; margin-bottom: 10px; }
.restoo-content img{ float:left; display: block; margin-right: 15px; margin-bottom: 10px; position: absolute; top: 0; left: 0; }
.view-menu a{ display: block; padding: 5px 20px; width: 80px; background-color: #e5e5e5; color: #000; font-size: 14px; font-weight: bold; text-align: center; }
.view-menu a{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position: absolute; top: 60px; right: 20px; }


.restoo-info .restoo-time, .restoo-info .restoo-map, .restoo-info .restoo-charge, .restoo-info .restoo-method, .restoo-info .restoo-waiting{ display: block; float: left; width: 130px; }
.restoo{ font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 14px; }

.restoo-time, .restoo-map, .restoo-charge, .restoo-method, .restoo-waiting{ color: #777; }
.restoo-sale{ padding-left: 130px; display: block; }



#foodsubmit{ width: 100px; height: 35px; margin-top: 5px; margin-left: 60px; border: 0 none; background: url('../../images/search-small.png') no-repeat; cursor: pointer; }
#searchform{ height: 100px; }
#searchform #s{ padding: 5px; width: 120px; font-size: 12px; color: #999; margin-bottom: 0px; border: 0 none;  margin-top: 5px; }

#searchform #s{ overflow: hidden; text-align: center; width: 176px; border: 0 none; resize: none; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-size: 12px; font-weight: bold; text-transform: uppercase; padding: 10px; height: 20px; color: #999; border: 2px #CCC solid;  }
#searchform #s{ border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;  }
#searchform select#restoo{ border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;  }
#searchform select#restoo{ border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; }


ul.cuisine_list li a{ text-transform: uppercase; color: #333; font-size: 11px; }
ul.cuisine_list h3.cuisine_title{ font-weight: bold; text-transform: uppercase; margin-bottom: 15px; font-size: 16px; }
ul.cuisine_list li{ list-style: square; margin-left: 20px; color: #777; }
ul.cuisine_list li a:hover{ color: #FF9900; }
ul.cuisine_list h3{ border-bottom: 1px dashed #CCC; padding-bottom: 5px; }