.col1{ padding-right: 0 }
.col1 .admin-menu a{ border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #048739;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 5px 10px;
	border: 0 none;
	width: 350px;
	text-align: center;
	margin: 0 auto 5px auto;
}