input.regular-text{ width: 350px; padding: 3px 5px; }
select{ width: 250px; height: 200px; }
select option{ padding: 2px; }
input.button-primary{ padding: 3px 10px; }

#__6ZPyg-html, #__6ZPyg-tmce{ display: none; }
.mceToolbar, tr.mceLast{ display: none; }
.wp-editor-container{ width: 170px; }
#__6ZPyg_tbl, #__6ZPyg_ifr{ height: 175px !important; }