.restoo{ margin-bottom: 15px; text-transform: uppercase; position: relative; min-height: 230px; }
.restoo .restoo-header{ background-color: #EEE; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; margin-bottom: 10px; }
.restoo .restoo-title{ float: left; margin-right: 10px; }
.restoo .restoo-title{ font-weight: bold; font-size: 18px; }
.restoo .restoo-phone{ float: right; font-weight: bold; font-size: 18px; }
.restoo .restoo-address{ font-weight: bold; color: #777; font-size: 18px; }
.restoo-content{ line-height: 20px; font-weight: bold; padding-right: 180px; padding-left: 170px; position: relative;  min-height: 150px; }
.restoo-content span.cuisine-type{ display: block; margin-bottom: 10px; }
.restoo-content img{ float:left; display: block; margin-right: 15px; margin-bottom: 10px; position: absolute; top: 0; left: 0; }
.view-menu a{ display: block; padding: 5px 20px; width: 80px; background-color: #e5e5e5; color: #000; font-size: 14px; font-weight: bold; text-align: center; }
.view-menu a{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position: absolute; top: 60px; right: 20px; }


.restoo-info .restoo-time, .restoo-info .restoo-map, .restoo-info .restoo-charge, .restoo-info .restoo-method, .restoo-info .restoo-waiting{ display: block; float: left; width: 140px; }
.restoo{ font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 14px; }

.restoo-time, .restoo-map, .restoo-charge, .restoo-method, .restoo-waiting{ color: #777; }