#res-logo .mceToolbar, #res-logo tr.mceLast{ display: none; }

#res-logo a#__uqhuk-html, #res-logo a#__uqhuk-tmce{ display: none; }



#res-logo .wp-editor-container{ width: 930px; }

#res-logo #__uqhuk_tbl, #res-logo #__uqhuk_ifr{ height: 350px !important; }



input.regular-text{ padding: 2px 5px; width: 450px; }



select#__XQiSE{ width: 300px; height: 250px; }

select#__XQiSE option{ padding: 2px 0; }

input[type='submit'] {
	width: 100px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #048739;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	padding: 3px 10px;
	border: 0 none;
	cursor: pointer;
}

p.attribute{ margin-bottom: 10px; position: relative; }
p.attribute input{ width: 180px; padding: 2px 5px; }
.grouptitle{ width: 180px; }
.groupA, .groupB, .groupC{  margin-right: 20px; }
.col1{ padding-right: 0; }
table td{ vertical-align: top; }

a.trash{ display: block; width: 16px; height: 16px; background: url(trash.png) no-repeat; position: absolute; right: 0; top: 3px; }