#res-logo .mceToolbar, #res-logo tr.mceLast{ display: none; }

#res-logo a#__6ZPyg-html, #res-logo a#__6ZPyg-tmce{ display: none; }



#res-logo .wp-editor-container{ width: 200px; }

#res-logo #__6ZPyg_tbl, #res-logo #__6ZPyg_ifr{ height: 175px !important; }

input.regular-text{ padding: 2px 5px; width: 450px; }

select#__XQiSE{ width: 300px; height: 250px; }

select#__XQiSE option{ padding: 2px 0; }

input[type='submit'] {
	//width: 100px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #048739;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	padding: 3px 10px;
	border: 0 none;
	cursor: pointer;
}