#wp-submit {
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #F54900;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 3px 10px;
	border: 0 none;
	cursor: pointer;
}

#loginform p{ margin-bottom: 5px; }