h2{ font-size: 20px; font-weight: bold; color: #444; padding-bottom: 10px; }
h4{ font-size: 14px; color: #444; margin-bottom: 5px; }
.login-username label{ display: none; }
.login-password label{ display: none; }
#loginform{ margin-left: 50px; }
#loginform input#rememberme{ width: 30px; }
#loginform .login-submit{ padding-top: 10px; }

.col1 form.frmcheckout p{ margin-bottom: 3px; }
.col1 .btnnext{ padding: 5px 15px; margin-top: 10px; }
.col1 h4{ font-size: 18px; }

.addr_req{ padding: 5px 15px; background-color: #f5edc5; font-size: 14px; width: 350px; color: #a90000; text-align: center; }
.addr_req{ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.action{ border-bottom: 1px solid #CCC; padding-bottom: 5px; }
a.btn_register{ display: block; padding: 7px 25px; background: #F75900; font-size: 16px; color: #FFF; width: 65px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-weight: bold; }
#wp-submit{ display: block; padding: 7px 25px; background: #F75900; font-size: 16px; color: #FFF; width: 65px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-weight: bold; border: 0 none; }
#wp-submit:hover{ cursor: pointer; }


.btnnext{

	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #F54900;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 3px 10px;
	border: 0 none;
	cursor: pointer;
}